<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white shadow" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h1>{{message}}</h1>
                    <h2>{{error.status}}</h2>
                    <pre class="bg-dark text-white">{{error.stack}}</pre>
                    <a href="/" class="btn btn-primary btn-lg mt-3">Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
