<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center text-white">
            <h1 class="display-4">{{message}}</h1>
            <p class="lead">Explore our community's questions and find answers!</p>
            <a href="/questions" class="btn btn-primary btn-lg">Browse Questions</a>
        </div>
    </div>
</div>
