<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white shadow-sm" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <img src="https://i.imgur.com/y5jRUIR.png" alt="Logo" class="img-fluid mb-4 mx-auto d-block" style="max-width: 150px;">
                    <h1 class="card-title mb-4">{{title}}</h1>
                    <p class="card-text">{{text}}.</p>
                    <a href="/questions" class="btn btn-primary btn-lg btn-block">Browse Questions</a>
                </div>
            </div>
        </div>
    </div>
</div>
